@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
}

@layer base {
  [data-theme='purple'] {
    --color-background: hsl(294, 100%, 93%);
    --color-primary: hsl(270, 87%, 59%);
    --color-secondary: hsl(292, 100%, 95%);
    --color-text-base: hsl(275, 29%, 22%);
  }

  [data-theme='purple'][data-mode='dark'] {
    --color-background: hsl(294, 100%, 20%);
    --color-primary: hsl(270, 87%, 59%);
    --color-secondary: hsl(292, 100%, 95%);
    --color-text-base: hsl(275, 29%, 80%);
  }

  [data-theme='blue'] {
    --color-background: hsl(214, 100%, 93%);
    --color-primary: hsl(210, 87%, 59%);
    --color-secondary: hsl(212, 100%, 95%);
    --color-text-base: hsl(215, 29%, 22%);
  }
  [data-theme='blue'][data-mode='dark'] {
    --color-background: hsl(214, 100%, 20%);
    --color-primary: hsl(210, 87%, 59%);
    --color-secondary: hsl(212, 100%, 95%);
    --color-text-base: hsl(215, 29%, 80%);
  }

  [data-theme='red'] {
    --color-background: hsl(354, 100%, 93%);
    --color-primary: hsl(350, 87%, 59%);
    --color-secondary: hsl(352, 100%, 95%);
    --color-text-base: hsl(355, 29%, 22%);
  }
  [data-theme='red'][data-mode='dark'] {
    --color-background: hsl(354, 100%, 20%);
    --color-primary: hsl(350, 87%, 59%);
    --color-secondary: hsl(352, 100%, 95%);
    --color-text-base: hsl(355, 29%, 80%);
  }

  [data-theme='green'] {
    --color-background: hsl(154, 100%, 90%);
    --color-primary: hsl(150, 100%, 25%);
    --color-secondary: hsl(152, 100%, 95%);
    --color-text-base: hsl(155, 29%, 22%);
  }
  [data-theme='green'][data-mode='dark'] {
    --color-background: hsl(154, 100%, 20%);
    --color-primary: hsl(150, 100%, 25%);
    --color-secondary: hsl(152, 100%, 95%);
    --color-text-base: hsl(155, 29%, 80%);
  }

  .smooth-color {
    @apply transition-colors duration-500 ease-in-out;
  }

  .smooth-color-bg {
    @apply transition-[background-color] duration-500 ease-in-out;
  }
}
